.heading {
  font-size: clamp(24px, 2.49984vw, 96px);
  font-weight: 600;
  @apply text-white;
  @apply mt-8;
}

.bg {
  width: 80%;
  right: -400px;
  top: -200px;
  z-index: -1;
  position: absolute;
}
