.input_container {
  width: clamp(150px, 15.624vw, 600px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid;
  @apply border-custom-orange;

  &__label {
    position: absolute;
    font-size: clamp(9px, 0.93744vw, 36px);
    font-family: "Gotham Pro";
    z-index: -1;
    @apply bottom-1;
    @apply left-2;
    @apply text-custom-white;
  }

  &__input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: clamp(9px, 0.93744vw, 36px);
    z-index: 1;
    @apply pl-2;
    @apply pb-1;
    @apply text-custom-orange;
  }
}
