@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/gothampro_bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  overflow-x: hidden;
  background-color: #0b1948;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Commissioner;
}

.heading {
  width: 40%;
  color: #fff;
  text-align: center;
  font-family: Commissioner;
  font-size: clamp(35px, 3.6456vw, 140px);
  text-align: left;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
}

.container {
  width: 86.6%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.paragraph {
  font-family: "Gotham Pro";
  font-size: clamp(10px, 1.0416vw, 40px);
  font-style: normal;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
}

.orange_gradient {
  background: linear-gradient(92deg, #ef7f1a 5.92%, #e74623 112.8%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
