.header {
  width: 86.6%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  @apply mt-8;

  &__nav {
    display: flex;
    align-items: center;
    @apply gap-8;

    &__link {
      font-size: clamp(9px, 0.93744vw, 36px);
      font-family: "Gotham Pro";
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: 0.3s all;
      @apply text-custom-white;

      &:hover {
        @apply text-white;
      }
    }
  }
}
